
@font-face {
  font-family: 'Yangjin';
  src: url('/yangjin.ttf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 모든 태그와 컴포넌트에 양진체 강제 적용 */
*, body, button, input, textarea, select {
  font-family: 'Yangjin', sans-serif !important;
}


body {
  margin: 0;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #FFF6E5;
  color: #1E1A26;
  box-sizing: border-box;
}
